.table.qro-table-header thead {
    --bs-table-bg: #fac532ff;
    --bs-table-color: #000000;
}

.table tr.important-row {
    --bs-table-bg: #AFE2E3;
    font-weight: bold;
}

.table td.important-column {
    --bs-table-bg: #AFE2E3;
    font-weight: bold;
}

.table td.important-col {
    --bs-table-bg: #AFE2E3;
    --bs-table-color: #000000;
    font-weight: bold;
}